<div class="row mt-3">
    <div class="col-12">
        <a class="btn w-100 btn-outline-dark" href="{plink ":googleAuthenticate"}" role="button" style="text-transform:none">
            <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="{$basePath}/www/assets/base/img/logo/google.png">
            {_front.googleButton.button_label}
        </a>
    </div>
</div>
