extensions:
    webSockets: IPub\WebSockets\DI\WebSocketsExtension
    webSocketsMessage: IPub\WebSocketsWAMP\DI\WebSocketsWAMPExtension
    #webSocketsSession: IPub\WebSocketsSession\DI\WebSocketsSessionExtension
    WebSocketsZMQ: IPub\WebSocketsZMQ\DI\WebSocketsZMQExtension

# WebSockets server
webSockets:
    server:
        httpHost:   localhost
        port:       8080
        address:    0.0.0.0
    routes:
        '/bike/<state>' : 'Bike:'
        '/ride/details' : 'RideDetail:'
        '/ride/<ride>' : 'Ride:'
    #routes: []
    mapping:
        *: App\UI\Modules\WebSocket\*Controller

#WebSocketsZMQ:
#        host: '127.0.0.1'
#        port: 5555
#        persistent: true
#        protocol: 'tcp'
