extensions:
    webSockets: IPub\WebSockets\DI\WebSocketsExtension
    webSocketsMessage: IPub\WebSocketsWAMP\DI\WebSocketsWAMPExtension

# WebSockets server
webSockets:
    server:
        httpHost:   localhost
        port:       8080
        address:    0.0.0.0
    routes:
        '/test/<room>' : 'Test:'
    #routes: []
    mapping:
        *: App\UI\Modules\WebSocket\*Controller
