{block #title}Seznam uživatelů{/block}

{block #content}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <span class="card-title">Seznam uživatelů</span>
            </div>
            <div class="card-body">
                {control userListGrid}
            </div>
        </div>
    </div>
</div>