lang:
    code_short: cs

userPresenter:
    action_list:
        title: 'Seznam uživatelů'
        nav_link: 'Uživatelé'
        userListCard:
            title: 'Seznam uživatelů'
            link_add: 'Přidat uživatele'
    action_add:
        title: 'Přidat uživatele'
        userFormCard:
            title: 'Přidat uživatele'
    action_edit:
        title: 'Upravit uživatele'
        userFormCard:
            title: 'Upravit uživatele'

homePresenter:
    action_default:
        title: 'Úvod'
        nav_link: 'Úvod'
        card_available_bikes_count_label: 'Dostupných kol'
        card_stands_count_label: 'Odkládacích stojanů'
        card_rides_count_label: 'Uskutečněných jízd'

bikePresenter:
    action_list:
        title: 'Seznam kol'
        nav_link: 'Kola'
        bikeListCard:
            title: 'Seznam kol'
            link_add: 'Přidat kolo'
        bikeMapCard:
            title: 'Mapa kol'
    action_add:
        title: 'Přidat kolo'
    action_edit:
        title: 'Upravit kolo'
    action_dueForService:
        title: 'Kola k servisu'
        nav_link: 'Kola k servisu'
        bikeListCard:
            title: 'Seznam kol'
            link_add: 'Přidat kolo'
        bikeMapCard:
            title: 'Mapa kol'
    action_service:
        title: 'Servis kola'
        bikeServiceCard:
            title: 'Servis kola'
            button_service: 'Provést servis teď'
    signal_makeBikeService:
        flash_success: 'Servis kola byl úspěšně dokončen.'

standPresenter:
    action_list:
        title: 'Seznam stojanů'
        nav_link: 'Stojany'
        standListCard:
            title: 'Seznam stojanů'
            link_add: 'Přidat stojan'
        standMapCard:
            title: 'Mapa stojanů'
    action_add:
        title: 'Přidat stojan'
    action_edit:
        title: 'Upravit stojan'

myRidesPresenter:
    action_default:
        title: 'Moje jízdy'
        nav_link: 'Moje jízdy'
        userRideListCard:
            title: 'Moje jízdy'
        usersActiveRideCard:
            title: 'Jsi v aktivní jízdě'
            subtext: 'Prohlédni si podobnosti své jízdy.'
            detail_link: 'Podrobnosti'

ridePresenter:
    action_detail:
        title: 'Podrobnosti jízdy'
        rideDetailsCard:
            title: 'Podrobnosti jízdy'

userSettingsPresenter:
    action_default:
        title: 'Nastavení účtu'

userListGrid:
    column_id: 'ID'
    column_name: 'Jméno a příjmení'
    filter_name: 'Jméno a příjmení'
    column_email: 'E-mail'
    filter_email: 'E-mail'
    column_role: 'Role'
    filter_role: 'Role'
    column_lastlogin: 'Posl. přihlášení'
    action_edit: 'Upravit'

standListGrid:
    column_name: 'Název'
    column_location: 'Lokace'
    action_edit: 'Upravit'

standListMap:
    popup_name: 'Název: '
    popup_action_edit: 'Upravit'

bikeListGrid:
    column_stand: 'Stojan'
    column_last_service_datetime: 'Poslední kontrola'
    column_next_service_datetime: 'Nejbližší další kontrola'
    column_status: 'Stav'
    action_edit: 'Upravit'

userForm:
    input_name: 'Jméno a příjmení'
    input_email: 'E-mail'
    input_role: 'Role'
    option_role:
        regular: 'Běžný uživatel'
        serviceman: 'Servisní pracovník'
        admin: 'Administrátor'

bikeForm:
    input_stand_title: 'Stojan (vyberte na mapě)'
    input_stand_id: 'Stojan ID'
    input_last_service_datetime: 'Poslední kontrola údržby'

bikeChooseStandMap:
    popup_name: 'Název: '
    popup_action_choose_stand: 'Zvolit stojan'

bikeDueForServiceListGrid:
    column_last_service_datetime: 'Poslední kontrola'
    column_stand: 'Stojan'
    action_service: 'Servisovat'

rideableBikesAndStandMap:
    popup_bike_state: 'Status: '
    popup_bike_state_in_ride: 'V jízdě'
    popup_bike_state_parked: 'Zaparkováno'
    popup_action_start_ride: 'Zahájit jízdu'

userRideListGrid:
    column_start_timestamp: 'Zahájení'
    column_start_stand: 'Výchozí místo'
    column_end_timestamp: 'Ukončení'
    column_end_stand: 'Cílové místo'
    column_status: 'Status'
    action_detail: 'Podrobnosti'
