{block #title}
    Dashboard
{/block}

{block #content}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <span class="card-title">Úvodní karta</span>
            </div>
            <div class="card-body">
                <p>Prostě nějaké random informace</p>
            </div>
        </div>
    </div>
</div>
